.ft-nav-item {
    cursor: pointer;

    transition: all .5s;
    height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ft-nav-item:hover {
    transform: scale(1.1);
}