.modal-body {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-image: var(--bg-gradient);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    padding: 1rem;

    transform: translateX(1000%);

    transition: .8s all;

    box-shadow: var(--box-shadow);
}

.show {
    transform: translate(0%) !important;
}

.header {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.header img {
    cursor: pointer;
}

.header h3 {
    font-size: 1.5rem;
}