.fl-settings {
    display: flex;
    padding: 1rem 0;
    gap: 1rem
}

.fl-settings-btn {
    border-bottom: 2px solid #4b4453;
}

@media (max-width: 767px) {
    .fl-settings {
        flex-direction: column;
    }
}