.fl-settings {
    display: flex;
    padding: 1rem 0;
    gap: 1rem
}

.fl-setting-section {
    padding: 0 1.5rem;
}

.fl-settings-header {
    font-size: 2rem;
    font-weight: 700
}

.fl-setting-weekdays {
    padding: 1rem;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.fl-settings-btn {
    border-bottom: 2px solid #4b4453;
}