.fd-training-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 60vh;
}

.fd-weekdays {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    width: 400px;
    height: 200px;
}

.fd-days {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--text-color);
    height: 30px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    overflow: hidden;
    border: 1px solid var(--text-color);
    cursor: pointer;
    transition: all .5s;
}

.i-0 {
    background-color: var(--normal-color);
}

.fd-days:hover {
    transform: scale(1.1);
}

.rest {
    background-color: var(--error-color);
}

.title {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.fd-title {
    overflow: hidden;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    font-weight: 700;
    /* margin-bottom: 5px; */
    width: 100%;
    /* padding: .5rem; */
    cursor: pointer;
}

.exercism {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
}

.fd-exer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--text-color);
    padding: 1rem;
    overflow: hidden;
    width: 450px;
    border-bottom: 1px solid var(--text-color);
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.fd-exer-selected {
    background-color: var(--normal-color);
    border-radius: 5px;
}

.play-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(268deg);
}

.play-btn img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all .5s;
}

.play-btn img:hover {
    transform: scale(1.1);
}

.exercism-day-list {
    height: 90%;
    padding: 0 .5rem;

    box-shadow: var(--box-shadow);
    border-radius: 5px;

    overflow-y: hidden;
}

.exercism-plan {
    height: 100%;
    padding: .5rem;
}

.fd-training-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.fd-dropdown {
    padding: .5rem 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* flex-direction: column; */
    height: 150px;
}

.fd-sec-image {
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
}

.fd-dropdown-training {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.fd-dropdown-training img {
    cursor: pointer;
    transform: rotate(90deg);
    transition: all .5s;
}

.fd-dropdown-training img:hover {
    transform: scale(1.1) rotate(90deg);
}

.fd-dropdown-training-title {
    font-size: 2.3rem;
    font-weight: 700;
    width: 100%;
    cursor: pointer;
}

.fd-dropdown-title-list {
    box-shadow: var(--box-shadow);
    background-image: var(--bg-gradient);
    position: absolute;
    width: 400px;
    height: 250px;
    transform: translateX(1600%);
}

.fd-dropdown-title-list-show {
    transform: translateX(0);
}

.fd-dropdown-title-item {
    width: 100%;
    overflow: hidden;
    padding: 1rem;
    transition: all .5s;
    cursor: pointer;
}

.fd-dropdown-ttitle-item:hover {
    background-color: var(--normal-color);
}

.fd-dropdown-training-subtitle {
    display: flex;
    align-items: center;
    width: 100%;
    /* justify-content: center; */
}

@media (max-width: 767px) {
    .fd-training-section {
        flex-direction: column;
    }

    .fd-dropdown-training-title {
        font-size: 2rem;
    }

    .fd-title {
        font-size: 1.3rem;
    }

    .fd-sec-image {
        height: 130px;
    }

    .exercism-day-list {
        height: 100%;
    }

    .exercism-plan {
        height: 100%;
        padding: .5 1rem;
    }

    .fd-weekdays {
        flex-direction: row;
        width: 90%;
        font-size: 1rem;
    }

    .fd-days:hover {
        transform: scale(1);
    }
}