.logo {
    color: var(--text-color);
    /* font-family: 'Manrope', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    font-weight: 900;
}

.md {
    font-size: 3.25em;
}

.xl {
    font-size: 2em;
    overflow: hidden;
}

.logo-non-transition {
    width: 30%;
}

.logo-non-transition::before {
    content: "FitList";
    background-image: var(--btn-gradient);
    background-clip: padding-box;
    overflow: hidden;
    transition: all .5s;
    position: absolute;
    width: 0;
}

.logo-non-transition:hover:before{
    width:30%;
}


@media (max-width: 767px) {
    .logo {
        overflow-y: hidden;
        height: 100px;
    }

    .logo-non-transition {
        width: 70%;
        text-align: center;
    }

    .logo-non-transition:hover:before{
        text-align: center;
        width: 40%;
    }
}