.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    background-color: var(--normal-color);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    width: 250px;
    height: 150px;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    overflow: hidden;
    transition: all .5s;
    cursor: pointer;
}

.rest {
    background-color: var(--success-color);
}

.card:hover {
    transform: scale(1.1);
}

.card span {
    overflow: hidden;
}

.weekday {
    font-size: 1.5rem;
    font-weight: 600;
}

.training {
    font-size: 1rem;
    font-weight: 600;
}