.fl-setting-section {
    padding: 0 1.5rem;
    width: 100%;
    overflow: hidden;
}

.fl-settings-header {
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}

.fl-setting-weekdays {
    padding: 1rem;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.fl-settings-dropdown {
    width: 80%;
    height: 200px;
    box-shadow: var(--box-shadow);
    background-image: var(--bg-gradient);
    margin-top: .5rem;
    padding: .5rem;
    position: absolute;
    transform: translate(1000%);
}

.fl-settings-dropdown-item {
    font-size: 1.1rem;
    padding: .5rem;
    font-weight: 600;
    cursor: pointer;
    border-bottom: solid 1px var(--text-color);
    transition: all .5s;
}

.fl-settings-dropdown-item:hover {
    background-color: var(--normal-color);
}

.fl-settings-dropdown-show {
    transform: translate(0%);
}

.fl-setting-training-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.fl-setting-training-list-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    transition: all .5s;
}

.fl-setting-training-list-title:hover {
    transform: scale(1.1);
}

.fl-setting-training-list-title span {
    font-size: 1.3rem;
}

.fl-setting-training-list-weekday {
    font-size: 1.3rem;
    font-weight: 600;
    padding: .8rem;
    width: 100%;
    text-align: center;
}

.fl-setting-training-list-title img {
    position: relative;
}