.fl-setting-section {
    padding: 0 1.5rem;
    width: 100%;
    overflow: hidden;
}

.fl-settings-header {
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fl-settings-header-h {
    transition: .5s all ease-in;
}

.fl-settings-header-h:hover {
    background-color: var(--normal-color);
    padding: .5rem;
    border-radius: 15px;
}

.fl-settings-dropdown {
    width: 80%;
    height: 200px;
    box-shadow: var(--box-shadow);
    background-image: var(--bg-gradient);
    margin-top: .5rem;
    padding: .5rem;
    position: absolute;
    transform: translate(1000%);
}

.fl-settings-dropdown-show {
    transform: translate(0%);
}

.fl-settings-dropdown-item {
    font-size: 1.1rem;
    padding: .5rem;
    font-weight: 600;
    cursor: pointer;
    border-bottom: solid 1px var(--text-color);
    transition: all .5s;
}

.fl-settings-dropdown-item:hover {
    background-color: var(--normal-color);
}
